{% extends "index.html" %}
<!-- About -->
{% block content %}
<!-- About Section -->
<section class="my-5 pt-5">
  <div class="container">
    <!-- Section Heading -->
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-md-10 col-lg-8 text-center">
        <h2 class="display-4 mb-4">
          {{ active_entry.title if active_entry else "About Me" }}
        </h2>
        <h3 class="section-subheading text-muted">
          {{ active_entry.introText if active_entry else "A brief introduction
          about myself" }}
        </h3>
      </div>
    </div>

    <!-- About Details -->
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-4 text-center">
        <img
          src="{{ active_entry.imageUrl if active_entry else url_for('static', filename='img/profile-img.jpg') }}"
          alt="[Your Name]"
          class="img-fluid rounded-circle w-50"
        />
      </div>
      <div class="col-lg-8">
        <p class="lead">
          {{ active_entry.additionalInfo if active_entry else "Hello! I'm [Your
          Name], a passionate individual..." }}
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
