{% extends "index.html" %}
<!-- About -->
{% block content %}
<!-- About Section -->
<section class="my-5 pt-5">
  <div class="container">
    <!-- Section Heading -->
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">About Me</h2>
        <h3 class="section-subheading text-muted">
          Totally a great portfolio lol
        </h3>
      </div>
    </div>

    <!-- About Details -->
    <div class="row">
      <div class="col-lg-4 text-center">
        <img
          src="{{ url_for('static', filename='img/profile-img.jpg') }}"
          alt="Andreas"
          class="img-fluid rounded-circle w-50"
        />
      </div>
      <div class="col-lg-8">
        <p class="lead">
          Hello! We're Andreas and Alfons, passionate individuals with a keen interest
          in software development.

          Test
        </p>
        <p>Im currently Studying at NTI Gymnasiet in Örebro</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
